/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(https://npm.elemecdn.com/blog-zzwtsy/background/bg.jpg);
    width: 100vw;
    height: 100vh;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    text-align: center;
    padding: 1.5rem;
    width: 75%;
    height: auto;
    min-height: 250px;
    min-width: 300px;
    max-width: 500px;
    max-height: 300px;
}

.filter {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    color: rgba(255, 255, 255, 0.75);
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem;
}

input {
    text-align: center;
}

input,
button {
    height: 26px;
    border-radius: 5px;
    border: 2px solid #99ccff;
}

input:hover,
button:hover {
    border: 2px solid #3366cc;
}

button:hover {
    background-color: #3366cc;
}

button:active {
    background-color: #99ccff;
    border: 2px solid #99ccff;
}

input:focus-visible {
    outline: none;
}

button {
    color: #ffffff;
    height: 30px;
    padding: 2px;
    background-color: #99ccff;
}

p {
    font-size: 18px;
    padding-top: 20px;
}

#PWD {
    color: #3366cc;
}

h1,
p,
span {
    color: #99ccff;
}