#web_bg::before,
#footer::before,
#page-header::before {
    background-color: transparent !important;
}

/* 浅色模式 */

[data-theme="light"] #web_bg {
    background: #e2e2e2 !important;
}

/* 页眉 */
[data-theme="dark"] #page-header.nav-fixed>#nav,
[data-theme="dark"] #page-header.not-top-img>#nav {
    background: #fff;
}

/* 页脚 */
[data-theme="light"] #footer {
    background: #fff !important;
}

[data-theme="light"] #footer-wrap a {
    color: #ccc;
}

[data-theme="light"] #footer-wrap {
    color: gray;
}

/* 深色模式 */
[data-theme="dark"] #web_bg {
    background: #22303f !important;
}

/* 页眉 */
[data-theme="dark"] #page-header.nav-fixed>#nav,
[data-theme="dark"] #page-header.not-top-img>#nav {
    background: #18222d;
}

/* 页脚 */

[data-theme="dark"] #footer {
    background: #18222d !important;
}

[data-theme="dark"] #footer-wrap a {
    color: gray;
}

[data-theme="dark"] #footer-wrap {
    color: #6b7788;
}
