#page-header,
#page-header:before {
    background-color: transparent !important
}

#footer:before {
    background-color: rgba(255, 255, 255, .15) !important
}

header#page-header {
    background-image: none !important
}

header #page-header:before {
    background-color: transparent;
}

[data-theme='dark'] #web_bg:before,
[data-theme='dark'] #footer:before,
[data-theme='dark'] #page-header:before {
    background-color: transparent !important;
}

[data-theme='dark'] #page-header.nav-fixed>#nav,
[data-theme='dark'] #page-header.not-top-img>#nav {
    background: #18222d;
}